*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loginform{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
form{
    width: 320px;
    background-color: white;
    border: 1px solid rgb(103, 102, 102);
    padding: 25px;
    margin: 20vh;
    border-radius: 1ch; 
 
}
 .input-one{
    display: flex;
    flex-direction: column;
    padding: 10px;

} 
.input-one input{
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px; 
} 
h2{
    display: flex;
    justify-content: center;
    font-size: 120px;
    margin-top: -20px;
    margin-bottom: 0px;
    color: rgb(72, 233, 99);
}
h1{
    font-size: 40px;
    text-align: center ;
    margin-top: 0px;
    
}
.button1{
    display: flex;
    justify-content: center;
}
button{
    display: flex;
    justify-content: center; 
    width: 25%;
    padding: 10px;
    color: white;
    /* margin-bottom: 20px; */
    background-color: rgb(92, 235, 135);
    border-radius: 1ch;
    border-color: aliceblue;
}
button:hover{
    color: white;
    background-color:rgb(51, 227, 95); ;
}  

.forgot-password {
    display: flex;
    justify-content: end;
    /* margin-top: 10px; */
    color: #0c0c0d;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
